@charset "utf-8";

/* CSS Document */


*{
	
	
	box-sizing:border-box;
	
	
	}
	
body{
	margin:0px;
	padding:0px;
	font-family:verdana;	
	font-size:1.0em;
	max-width: 100vw;
	overflow:hidden;
}

div.qr{
	border: solid red 2px;
	margin:0px;
	padding:4px;
	font-family:tahoma;
	
	_width:100%;
	_max-width: 208px;
	
	
}

div.qr_caption{
	font-size:1.2em;
	background-color:rgba(183,4,4,1.00);
	color:white;
	padding:2px;
	
	
}

div.qr_row{
		
		
		
	border:2px solid blue;
	
	padding:2px;
	margin:4px;
}

div.qr_titulo{
	font-weight:bold;
	
}

div.qr_valor{
	padding-left:20px;
	
}

